<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .goIndex{
        margin-left: 90%;
      }
    </style>
</head>
<body>
  <span class="goIndex">
    <button class="accept" onclick=location.href='http://localhost:3000'>지구본<br>보러가기</button>
  </span>
    <div>
        <canvas id="pie-chart" width="window.innerWidth" height="window.innerHeight"></canvas>
    </div>
    
    <script>
      let dataInfo = <%- dataInfo %>;
      let countryList = [];
      let cpiList = [];

      for(key in dataInfo){
        let inner = dataInfo[key];
        for (const [key, value] of Object.entries(inner)) {
          if(key == 'country'){
            countryList.push(value);
          }
        }
      }

      for(key in dataInfo){
        let inner = dataInfo[key];
        for (const [key, value] of Object.entries(inner)) {
          if(key == 'cpi'){
            cpiList.push(value);
          }
        }
      }
      

         new Chart(document.getElementById("pie-chart"), {
            type: 'pie',
            data: {
              labels: countryList,
               datasets: [{
                label: "inflation (%)",
                backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#DF0101", "#7401DF", "#00FFFF", "#B4045F", "#210B61","#2EFE64", "#FFFF00", "#9F81F7", "#646F98", "#562066", "#B47E9E", "#115A4E", "#BBF15C", "#DA8B40", "#6C322B", "#2C2372", "#A4E9E4", "#0836E0", "#F90303", "#D80D80", "#8DBA26", "#F9AE18", "#9AEA8D", "#67EDED", "#0A4296", "#FCE3A2", "#E8F090", "#335952", "#149FE5", "#600BEA", "#DF6EEE"],
                data : cpiList
              }]
            },
            options: {
              title: {
                display: true,
                text: 'Global Inflation Figure',
                fontSize : 30,
              }
            }
        });
    </script>
</body>
</html>


